:root {
    --color-dark-morado: rgb(75, 0, 130);
    --color-ligth-morado: rgb(106, 90, 205);
    --color-dark-add-morado: rgb(46, 8, 84);
    --color-dark-gris: rgb(173, 73, 219);
    --color-ligth-gris: rgb(211, 211, 211);
    --color-dark-add-gris: rgb(85, 85, 85);
    --color-text: white;
    --color-1: rgb(169, 104, 255);
    --color-2: rgb(115, 13, 251);
    --color-3: rgb(74, 1, 171);
    --color-4: rgb(46, 2, 104);
    --color-5: rgb(0, 0, 1);
    --color-6: rgb(2 132 199);
    --color-7: rgb(0, 148, 223);  
    --color-8:rgb(47, 158, 214);

}
body {
  color: var(--color-text);
  margin: 0;
  padding: 0;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Personalizar el pulgar */
::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #007bff;
  border-radius: 10px;
}

button {
  color: var(--color-ligth-gris);
  background-color: var(--color-6);
  border-radius: 10px;
  min-width: 2rem;
  min-height: 2rem;
  border: 2px solid rgba(var(--color-1), 0.1);
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6); 
  text-wrap: auto;
  /* * {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    text-align: center;
  } */
}
button:hover {
    color: var(--color-1);
    background-color: var(--color-3);
}


.parent {
  display: grid;
  grid-template-columns: auto 1fr; /* Menú ocupa auto, contenido ocupa el espacio restante */
  grid-template-rows: auto 1fr auto; /* Navbar ocupa auto, contenido ocupa el espacio restante, footer ocupa auto */
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100vw;
  height: 100dvh;
  grid-template-areas: 
    "navbar navbar"
    "menu content"
    /* "footer footer" */
    ;
    .title-div{
      background: linear-gradient(to right, #ffffff, #cfd4ff);
      position: fixed;
      -webkit-app-region: drag;
      width: 100%;
      height: 1.92rem;
    }
}
.divnavbar {
  grid-area: navbar; /* Asignar área 'navbar' */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem; /* Puedes ajustar la altura según sea necesario */
}
  
  .divmenu {
    position: relative;
    grid-area: menu; /* Asignar área 'menu' */
    transition: width 0.3s; /* Transición suave para el cambio de ancho */
    min-height: 0; /* Asegurar que el menú no empuje el footer fuera del viewport */
    
    .tab-item{
      background-color: rgba(245, 245, 245, 0.253);
      position: relative;
      height: 4rem;
      border: 1px solid #ccc;
      border-radius: 0.3rem;
      align-items: center;
      margin-block: 0.4rem;
      padding-inline: 0.2rem;
      transition: background 0.3s;
      box-shadow: #525252 0px 0px 10px;
      .icon {
        height: 4rem;
        width: 4rem;
      }
      .text {
        display: none;
      }
      a {
        color: rgb(110, 110, 110);
        font-size: medium;
        position: absolute;
        text-justify: auto;
      }
    }
    .tab-item:hover {
      background: #dddddd8c;
      transition: all 0.9s;
      display: flex;
      .text {
        display: inline-block;
      }
      .icon {
        display: flex;
      }
      a {
        position: relative;
        color: rgb(255, 255, 255);
      }
    }
    .tabs-menu {
      width: 5rem;
      overflow-x: hidden;
      height: 100%;
      transition: all 1s; /* Animación suave para el cambio de ancho */
    }
    .tabs-menu:hover{
      width: 11rem;
      .menu-button {
        display: block;
      }
    }
    .dropdown-menu {
      position: relative;
      .menu-label:hover {
        filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(180deg);
      }
    }
    
    .menu-toggle {
      display: none;
    }
    
    .menu-label {
      display: inline-block;
      cursor: pointer;
    }
    .menu-label svg {
      width: 24px;
      height: 24px;
      fill: #333;
    }
    
    .menu-toggle:checked ~ .tabs-menu {
      width: 11rem;

    }
    .menu-toggle:checked ~ .tabs-menu .tab-item {
      display: block; /* Show all items when checkbox is checked */
    }
    .tab-item {
      display: none; /* Hide all items by default */
    }
    
    .tab-item:first-child {
      display: block; /* Always show the first item */
    }
    
  }

  .divcontent {
    position: relative;
    grid-area: content; /* Asignar área 'content' */
    width: 100%;
    min-height: 0; /* Asegurar que el contenido no empuje el footer fuera del viewport */
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Permitir el scroll si el contenido es demasiado alto */

    .tab-content {
      display: none;
      flex-direction: column;
      overflow-x: hidden;
      height: 100%;
      max-height: 95dvh;
    }
    .tab-content.active {
      display: block;
    }
  }
  .containerbox {
    box-sizing: content-box;
    padding: 0.5rem;
    position: relative;
    border: 1px solid rgba(88, 88, 255, 0.123);
    border-radius: 0.5rem;
    background-color: #212121;
    margin: 0.8rem;
    min-width: 90%;
    min-height: 50%;
  }
  .containerbox:hover {
    border: 1px solid var(--blue-box-900);
  }
  .divfooter {
    grid-area: footer; /* Asignar área 'footer' */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px; /* Puedes ajustar la altura según sea necesario */
  }
  #containerId {
    display: grid;
    width: 100%;
    height: 90vh;
    grid-template-columns: repeat(var(--cols), minmax(var(--gridWidth), 1fr));
    grid-template-rows: repeat(var(--rows), minmax(var(--gridHeight), 1fr));
    gap: 1px;
    padding: 1px;
  }
  
  #buttonContainer {
    display: grid;
    box-sizing: content-box;
    gap: 1px;
    /* background-color: #eee; */
    padding: 1px;
    margin-bottom: 20px;
}

.grid-cell {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.grid-button {
    width: 90%;
    height: 90%;
    border: none;
    /* background-color: #f0f0f0; */
    cursor: pointer;
    position: relative;
}

.delete-button {
    position: absolute;
    text-align: center;
    top: 2px;
    right: 2px;
    height: 24%;
    width: 20%;
    cursor: pointer;
    color: white;
    background-color: red;
}

.trash-zone {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
    border: 2px dashed #999;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.slider-container {
  margin-bottom: 15px;
}
.custom-slider {
  width: 200px;
  margin: 0 10px;
}
.slider-value {
  display: inline-block;
  width: 30px;
  text-align: right;
}

/* Estilos para el contenedor del selector personalizado */
.custom-selector {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 90vw;
  width: 50%;
  max-height: 80vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.custom-selector h2 {
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
}

.custom-selector-search {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.custom-options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
/* Estilos para el contenedor de opciones */
#custom-options-giftSelector {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
.custom-option:hover {
  background-color: #e0e0e0;
}

.custom-option.selected {
  background-color: #007bff;
  color: white;
}
/* Estilos para cada opción de regalo */
.gift-option {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.accept-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

/* Estilos para la imagen del regalo */
.gift-option img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 4px;
}

/* Estilos para el nombre del regalo */
.gift-option span {
  font-size: 14px;
  color: #333;
}

/* Estilos para el input y el botón */
#event-gift_select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  width: 200px;
}

#giftSelector-button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

#giftSelector-button:hover {
  background-color: #0056b3;
}

/* Estilos para cuando el selector está abierto */
.custom-selector.open {
  display: flex;
}
/* grid columns 2 */
.gridcols2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, auto));
  gap: 0.5rem;
}
/* Estilos para el selector de imagen */
.custom-selector-reference-image {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-left: 10px;
}